<!DOCTYPE html>
<html data-theme="light" lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title th:text="${pageTitle} ?: 'BlogSpring'">BlogSpring</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.css">
</head>
<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">
    <div sec:authorize="hasRole('ADMIN')" class="bg-violet-950 text-base-100 shadow-sm px-[15%] py-[5px]">
        <div class="flex-none">
            <ul class="menu menu-horizontal p-px">
                <li><a class="text-red-500" th:href="@{/admin}">Administration</a></li>
                <li th:if="${webAccess.isRouteMatch('/posts')}"><a th:href="@{/admin/posts/new}">New post</a></li>
                <li th:if="${webAccess.isRouteMatch('/posts/:slug')}"><a th:href="@{/admin/posts/edit/{id}(id=${post.id})}">Edit post</a></li>
                <li th:if="${webAccess.isRouteMatch('/posts/:slug')}"><a th:href="@{/admin/posts/delete/{id}(id=${post.id})}">Delete post</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar bg-base-100 shadow-sm px-[15%]">
        <div class="navbar-start">
            <a th:href="@{/}" class="btn btn-ghost text-xl">
                <img width="100" th:src="@{/logo/main-logo.png}" alt="main-logo" />
            </a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a th:href="@{/posts}">Articles</a></li>
            </ul>
        </div>
        <span sec:authorize="isAnonymous()" class="navbar-end"><a class="btn" th:href="@{/users/login}">Member</a></span>
        <div sec:authorize="isAuthenticated()" class="navbar-end">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <details>
                        <summary sec:authentication="name">default-content</summary>
                        <ul class="p-2">
                            <li><a>Account</a></li>
                            <li><a th:href="@{/users/logout}">Logout</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>
    <main class="flex-1" layout:fragment="content">default-content</main>
    <footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
        <aside>
            <p>Copyright © 2025 - All right reserved by KainoVaii</p>
        </aside>
    </footer>
</body>
</html>
