<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="${siteName}" layout:fragment="title"></title>
    <link rel="icon" href="/logo/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="/logo/favicon.png" type="image/x-icon" />
    <link href="/assets/css/tabler.css" rel="stylesheet" />
    <link href="https://preview.tabler.io/dist/css/tabler-marketing.min.css?1752697820" rel="stylesheet">
    <style>@import url("https://rsms.me/inter/inter.css");</style>
    <script src="/assets/js/tabler-theme.min.js"></script>
    <script src="/assets/js/component-manager.js"></script>
    <script defer src="/assets/js/alpine.js"></script>
    <script defer src="/assets/js/register-component.js"></script>
</head>
<body>
<div class="page">
    <header class="navbar navbar-expand-md d-print-none">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href="/" aria-label="BlogSpring">
                    <img src="/logo/main-logo.png" width="100" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M5 12l-2 0l9 -9l9 9l-2 0"/><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
                            </span>
                            <span class="nav-link-title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-world"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M3.6 9h16.8" /><path d="M3.6 15h16.8" /><path d="M11.5 3a17 17 0 0 0 0 18" /><path d="M12.5 3a17 17 0 0 1 0 18" /></svg>
                            </span>
                            <span class="nav-link-title">Web Hosting</span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-menu-columns p-2">
                                <div class="dropdown-menu-column p-1">
                                    <a class="dropdown-item" href="#">CPanel Hosting</a>
                                    <a class="dropdown-item" href="#">Plesk Hosting</a>
                                    <a class="dropdown-item" href="#">Database MySQL</a>
                                    <a class="dropdown-item" href="#">Wordpress Hosting</a>
                                </div>
                                <div class="dropdown-menu-column p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="500" height="400" viewBox="0 0 500 400" fill="transparent" stroke="var(--tblr-border-color, #b8cef1)" style="width: 100%; height: auto">
                                        <rect x=".5" y=".5" width="499" height="399" rx="2"></rect>
                                        <line x1="0" y1="0" x2="500" y2="400"></line>
                                        <line x1="0" y1="400" x2="500" y2="0"></line>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-server"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v2a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" /><path d="M3 12m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v2a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" /><path d="M7 8l0 .01" /><path d="M7 16l0 .01" /></svg>
                            </span>
                            <span class="nav-link-title">Bare Metal Cloud</span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-menu-columns p-2">
                                <div class="dropdown-menu-column p-1">
                                    <a class="dropdown-item" href="/products/server-vps-lxc">Private Server LXC</a>
                                    <a class="dropdown-item" href="/products/server-vps-lxc">Private Server KVM</a>
                                    <a class="dropdown-item" href="/products/server-vps-lxc">Dedicated Server</a>
                                </div>
                                <div class="dropdown-menu-column p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="500" height="400" viewBox="0 0 500 400" fill="transparent" stroke="var(--tblr-border-color, #b8cef1)" style="width: 100%; height: auto">
                                        <rect x=".5" y=".5" width="499" height="399" rx="2"></rect>
                                        <line x1="0" y1="0" x2="500" y2="400"></line>
                                        <line x1="0" y1="400" x2="500" y2="0"></line>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav flex-row order-md-last">
                <div sec:authorize="isAuthenticated()" class="d-none d-md-flex">
                    <div class="nav-item">
                        <a href="/cart" class="nav-link px-0" title="Panier" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-basket"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M5.001 8h13.999a2 2 0 0 1 1.977 2.304l-1.255 7.152a3 3 0 0 1 -2.966 2.544h-9.512a3 3 0 0 1 -2.965 -2.544l-1.255 -7.152a2 2 0 0 1 1.977 -2.304z" /><path d="M17 10l-2 -6" /><path d="M7 10l2 -6" /></svg>
                        </a>
                    </div>
                </div>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a href="/users/login" class="btn">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                        Espace Client
                    </a>
                </li>
                <div sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
                        <span class="avatar avatar-sm" style="background-image: url(https://avatar.oxro.io/avatar.svg?name=User&background=066FD1&length=1);"> </span>
                        <div class="d-none d-xl-block ps-2">
                            <div><span sec:authentication="name">default-content</span></div>
                            <div class="mt-1 small">
                                <span sec:authorize="hasAnyRole('ADMIN')" class="text-red">Admin</span>
                                <span sec:authorize="hasAnyRole('EDITOR')" class="text-teal">Editor</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a sec:authorize="hasAnyRole('ADMIN', 'EDITOR')" th:href="@{/admin}" class="dropdown-item">Administration</a>
                        <a th:href="@{/users/logout}" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="page-wrapper">
        <div layout:fragment="content">
            <h1 class="h3 mb-4 text-gray-800">content-default</h1>
        </div>
        <footer class="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="py-3 border-top-light text-center text-lg-start">
                        <div class="row g-lg-4">
                            <div class="col-lg-auto text-lg-end order-lg-last">
                                <div class="row justify-center">
                                    <div class="col-auto">Theme by <a href="https://tabler.io" class="link-primary" target="_blank" rel="noopener noreferrer">Tabler</a></div>
                                </div>
                            </div>
                            <div class="col-lg">
                                Made with
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-red icon-inline icon-4">
                                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                                </svg>
                                in France.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="/assets/js/list.js" defer></script>
<script src="/assets/js/tabler.min.js" defer></script>
</body>
</html>
