<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/front}">
<head><title layout:fragment="title">Home</title></head>
<body>
<main layout:fragment="content">
    <section class="mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 mb-3">
                    <h2>Mon tableau de bord</h2>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="dropdown-menu dropdown-menu-demo">
                                Sidebar
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/client/services" class="card card-link card-link-pop">
                                <div class="card-body">
                                    <h1 class="text-center text-primary">0</h1>
                                    <p class="text-center">Mes services</p>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
